
html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


body{
    background-color: #0D0D0D;
}

*, *:before, *:after { box-sizing: inherit;
}


.wrapper{
    margin: 0 10%;
    display: flex;
    flex-direction: column;
}

.section1{
    background-color: #1F2937;
    height: 450px;
    color: #E4E7EC;
    
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    height: 280px;
}


.item{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.info-text{
    font-size: smaller;
}

.box-area{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    gap: 5px;
}

#img-1, #img-2, #img-3, #img-4{
    border: 3px #3B82F7 solid;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    gap: 5px;
}

.information-items{
    display: flex;
}

.section3{
background-color: #E4E7EC;
height: 280px;
}

.italics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px 35vh;
    padding-top: 70px;
}

#the-say{
    font-style: italic;
}


#sayer{
    margin-left: 300px;
    font-weight: 550;
}


.section4{
background-color: #FFFFFF;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
}

.footer{
    background-color: #1F2937;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

ul,a{
    text-decoration: none;
    list-style: none;
    color: #D9DBE0;
}


#nav_links ul{
    display: flex;
    gap: 15px;
}

.header{
    justify-content: space-between;
    padding: 1% 10% 5% 10%;
    display: flex;
    align-items: center;
}

.invitation{
    padding: 0% 10%;
}

.welcome-area{
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.welcome-one{
    margin-top: 25px;
    flex-basis: 100%;
    flex-grow: 1;
    height: 300px;
}

.welcome-two{
    flex-basis: 100%;
    flex-grow: 1;
}

#logo{
    font-size: larger;
    font-weight: 700;
}

.button{
    background-color: #3B82F7;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: none;
    color: #E4E7EC;
    font-weight:bold;
}


.cta-container{
    display: flex;
    border-radius: 10px;
    background: #3B82F7;
    width: 800px;
    align-items: center;
    padding: 0 7%;
}

.cta-left{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding-left: 5px;
    font-size: smaller;
}

.cta-right{
    flex-basis: 10vh;
}

.button2{
    border: #FFFFFF solid 1px;
    margin-left: 100px;
}

.button1{
    margin-top: 40px;
}

#cta-text{
    padding-top: 0px;
    font-size:small;
    margin-top: 0px;
    padding-bottom: 15px;
}


#cta-head{
    padding-bottom: 10px;
    margin-bottom: 0px;
}


.image-placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
}


#image-one{
    margin-top: 40px;
    height: 250px;
    width: 60vh;
}